@import "variables";

.dropdown-item:hover{
  background-color: $secondary-color;
  color: white;
}
.nav-link span{
  color: $main-color;
}
.nav-link:hover {
  border-radius: 0 20% 0 20%;
background-color: $main-color;
  box-shadow: 5px 5px 5px $secondary-color;
  span{
    color: white;
  }
}

.form-header-title{
  text-align: center;
  background-color: $main-color;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 20px whitesmoke;
}