@import "variables";

@font-face {
  font-family: 'IRANSansWeb';
  src: url("../font/IRANSansWeb.woff") format("woff");
}

body{
  font-family: 'IRANSansWeb';
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: $highlight-color;
}

::selection {
  color: white;
  background: $highlight-color;
}